<section class="section counter-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">Thousands of customer's trust us for our awesome services</h2>
                    <p class="d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
                    <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5 col-sm-3 text-center">
                <!-- Single Counter -->
                <div class="single-counter d-inline-block m-2 m-sm-0">
                    <!-- Counter -->
                    <div class="counter mb-3">
                        <span class="p-2">1M</span>
                    </div>
                    <h5>Users</h5>
                </div>
            </div>
            <div class="col-5 col-sm-3 text-center">
                <!-- Single Counter -->
                <div class="single-counter d-inline-block m-2 m-sm-0">
                    <!-- Counter -->
                    <div class="counter mb-3">
                        <span class="p-2">23K</span>
                    </div>
                    <h5>Download</h5>
                </div>
            </div>
            <div class="col-5 col-sm-3 text-center">
                <!-- Single Counter -->
                <div class="single-counter d-inline-block m-2 m-sm-0">
                    <!-- Counter -->
                    <div class="counter mb-3">
                        <span class="p-2">9M</span>
                    </div>
                    <h5>Customer</h5>
                </div>
            </div>
            <div class="col-5 col-sm-3 text-center">
                <!-- Single Counter -->
                <div class="single-counter d-inline-block m-2 m-sm-0">
                    <!-- Counter -->
                    <div class="counter mb-3">
                        <span class="p-2">12K</span>
                    </div>
                    <h5>Developer</h5>
                </div>
            </div>
        </div>
    </div>
</section>