<section class="section service-area ptb_100">
    <div class="shapes-container">
        <div class="shape-1"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <!-- Service Text -->
                <div class="service-text pt-4 pt-lg-0">
                    <h2 class="text-capitalize mb-4">More flexible, More Stunning, More Powerful</h2>
                    <!-- Check List -->
                    <ul class="check-list style-two">
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box media">
                                <span class="icon align-self-center"><i class="fas fa-check-square"></i></span>
                                <span class="media-body pl-3">Fully layered dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</span>
                            </div>
                        </li>
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box media">
                                <span class="icon align-self-center"><i class="fas fa-check-square"></i></span>
                                <span class="media-body pl-3">Marketing chart dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</span>
                            </div>
                        </li>
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box media">
                                <span class="icon align-self-center"><i class="fas fa-check-square"></i></span>
                                <span class="media-body pl-3">Customizable design dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</span>
                            </div>
                        </li>
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box media">
                                <span class="icon align-self-center"><i class="fas fa-check-square"></i></span>
                                <span class="media-body pl-3">Email management dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores.</span>
                            </div>
                        </li>
                        <li class="py-1">
                            <!-- List Box -->
                            <div class="list-box media">
                                <span class="icon align-self-center"><i class="fas fa-check-square"></i></span>
                                <span class="media-body pl-3">Social marketing dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis.</span>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-bordered mt-4">Learn More</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-2 mx-auto">
                <!-- Service Thumb -->
                <div class="service-thumb style-two">
                    <img src="assets/img/service_thumb_1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>