<div class="homepage-6">
    <app-scrollup></app-scrollup>
    <div class="main">
        <app-header-two></app-header-two>
        <app-hero-six></app-hero-six>
        <app-promo-four></app-promo-four>
        <app-content-five></app-content-five>
        <app-content-six></app-content-six>
        <app-counter-two></app-counter-two>
        <app-pricing-two></app-pricing-two>
        <app-review></app-review>
        <app-cta-two></app-cta-two>
        <app-contact></app-contact>
        <app-footer-five></app-footer-five>
    </div>
</div>